node_modules
build
ex
# exclude everything inside thumb folder
assets/thumb/*

# exception to the rule
!assets/thumb/.gitkeep 

# exclude everything inside thumb folder
assets/full/*

# exception to the rule
!assets/full/.gitkeep 